<h1 class="text-center mt-4 strong">Create a new Project</h1>
<div class="container">

<div class="row justify-content-center">
  <div class="col-10">
    <%= render 'shared/errors',obj: @project %>
    <%= form_with(model: @project,class: "shadow p-3 mb-5 bg-dark rounded",local: true) do |f| %>
    <div class="form-group row">
      <%= f.label :name,class: "col-2 col-form-label text-light" %>
      <div class="col-10">
        <%= f.text_field :name,class: "form-control shadow rounded",placeholder: "Name of project" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :testcase_Count,class: "col-2 col-form-label text-light" %>
      <div class="col-10">
        <%= f.number_field :testcaseCount,class: "form-control shadow rounded",placeholder: "Enter the number of testcases you want" %>
      </div>
    </div>

    <br>

    <div class = "form-group h1 text-light text-center">
        Testcase Description
    </div>

    <br>

    <div class = "form-group row">
    <label class = "col-3 col-form-label text-light">Number of line of testcases</label>
    <input type = "text" placeholder = "Enter number of lines of input" id = "testlines" class = "form-control shadow rounded col-4" />
    <button type = "button" onclick = "displaylines()" class = "btn btn-outline-light btn-lg" style = "margin-left: 200px; height: 39px;">Create Test Lines</button>
    </div>
    <div class = "container">
    <div class="form-group text-light">
    <% for i in 1..10 %>
             <div class = "d-none" id = "parentdiv<%= i.to_s %>">
             <br><br>
            Line <%= i.to_s %>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.fields_for :tests, Test.new do |ff| %>
                    <%= ff.radio_button :name, 'int' , id: "int#{i}" %>                 Integer &nbsp;
                    <%= ff.radio_button :name, 'intarray', id: "intarray#{i}" %>        1D Integer Array &nbsp;
                    <%= ff.radio_button :name, 'int2darray', id: "int2darray#{i}" %>    2D Integer Array &nbsp;
                    <%= ff.radio_button :name, 'string', id: "string#{i}" %>            String &nbsp;
                    <%= ff.radio_button :name, 'stringarray', id: "stringarray#{i}" %>  String Array
                    <br>

                <div id = "rangeinput<%= i.to_s %>", class = "d-none">
                            <%= ff.label :Lower_Limit,class: "col-form-label text-light" %>
                        <div class="col-5">
                            <%= ff.number_field :lowlimit,class: "form-control shadow rounded",placeholder: "Enter the lower limit" %>
                        </div>

                            <%= ff.label :Higher_Limit,class: "col-form-label text-light" %>
                        <div class="col-5">
                            <%= ff.number_field :highlimit,class: "form-control shadow rounded",placeholder: "Enter the upper limit" %>
                        </div>

                </div>

                <div id = "rowsizeinput<%= i.to_s %>", class = "d-none">
                            <%= ff.label :Size,class: "col-form-label text-light" %>
                        <div class="col-5">
                            <%= ff.number_field :rowsize,class: "form-control shadow rounded",placeholder: "Enter the size" %>
                        </div>

                </div>

                <div id = "colsizeinput<%= i.to_s %>", class = "d-none">

                            <%= ff.label :Number_of_Columns,class: "col-form-label text-light" %>
                        <div class="col-5">
                            <%= ff.number_field :colsize,class: "form-control shadow rounded",placeholder: "Enter the number of columns" %>
                        </div>

                </div>

                <div id = "flaginput<%= i.to_s %>", class = "d-none">
                            <%= ff.label :Flag,class: "col-form-label text-light" %>
                        <div class="col-5">
                            <%= ff.number_field :flag,class: "form-control shadow rounded",placeholder: "See documentation" %>
                        </div>

                </div>

            <% end %>
            </div>
            <% end %>
    </div>
    </div>
    <br><br>
    <div class="form-group row justify-content-center">
      <%= f.submit class: "btn btn-outline-light btn-lg" %>
    </div>
  <% end %>
</div>
<div class="mb-3">
  <%= link_to '[Cancel and return to home page ]', projects_path,class: "text-info" %>
</div>
</div>
</div>
<script>

    for(let i=1;i<=10;i++){
        document.getElementById("int" + i.toString()).addEventListener("click",function() { console.log(i);displaysubdiv(["rangeinput"],i)},false);
        document.getElementById("intarray" + i.toString()).addEventListener("click",function() {displaysubdiv(["rowsizeinput","rangeinput"],i)},false);
        document.getElementById("int2darray" + i.toString()).addEventListener("click",function() { displaysubdiv(["rowsizeinput","colsizeinput","rangeinput"],i)},false);
        document.getElementById("string" + i.toString()).addEventListener("click",function() { displaysubdiv(["rowsizeinput","flaginput"],i)},false);
        document.getElementById("stringarray" + i.toString()).addEventListener("click",function() { displaysubdiv(["rowsizeinput","rangeinput","flaginput"],i)},false);

    }

    function displaysubdiv(toshow,index){
        console.log(index);
        index = index.toString();
        alldivs = ["rangeinput","rowsizeinput","colsizeinput","flaginput"];
        for(let i = 0;i<alldivs.length;i++){
            hidediv(alldivs[i] + index);

        }

        for(let i = 0;i<toshow.length;i++){
            displaydiv(toshow[i] + index);

        }
    }
    function displaylines()
    {
        let lines = document.getElementById("testlines").value;
        if(lines==""){
            lines = "0";
        }
        lines = parseInt(lines);
        for(let i = 1;i<=lines;i++){
            displaydiv("parentdiv" + i.toString())
        }
    }
    function displaydiv(div_id)
    {
        console.log(div_id)
        document.getElementById(div_id).classList.remove("d-none");
    }
    function hidediv(div_id)
    {
        console.log("hide"  + " " + div_id);
        document.getElementById(div_id).classList.add("d-none");
    }
</script>