<!--<h2 class="text-center mt-4"><%= @project.name %></h2>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
          <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">
              <% if user_signed_in? && (@project.user==current_user) %>

                <button type="button" class="btn btn-outline-info"><%= link_to "Edit",edit_project_path(@project) %></button>
                <button type="button" class="btn btn-outline-danger"><%= link_to "Delete",project_path(@project),method: :delete, data: {confirm: "Are you sure?"} %></button>
            <% end %>
            </div>
            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words(@project.created_at) %> ago,
              edited <%= time_ago_in_words(@project.updated_at) %> ago</small>
            </div>
          </div>
      </div>
    </div>
</div>
-->
<div class = "container">
<h2 class="text-center mt-4"><%= @project.name %></h2>
<h2 class="text-center mt-4">Number of testcases: <%= @project.testcaseCount %></h2>
<table class="table text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">Testcase Number:</th>
      <th scope="col">Input Link</th>
    </tr>
  </thead>
  <tbody>
  <% @project.testcases.each_with_index do |test, index| %>
    <tr>
    <td><%= index + 1 %></td>
    <td><%= link_to "Download", download_product_path(test), :class => "btn btn-dark" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Download All', download_documents_path(@project), method: :post, :class => "btn btn-dark text-center" %>
</div>
