<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
<a class="navbar-brand nav-link" href="#">Test Overflow</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <!--
  <li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
  </li>-->
  <% if user_signed_in? %>
  <li class="nav-item">
    <%= link_to 'My Projects',projects_path(current_user),:class => "nav-link" %>
  </li>
  <% end %>
  <% if user_signed_in? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_user.name %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'Edit Profile',edit_user_registration_path,:class => "dropdown-item" %>
      <%= link_to 'Delete Profile', registration_path(current_user),method: :delete,:class => "dropdown-item",data: {confirm: "Are you sure?"} %>
      <div class="dropdown-divider"></div>
      <%= link_to 'Sign out',destroy_user_session_path, method: :delete,:class => "dropdown-item" %>
    </div>
  </li>
  <% end %>
  <!--
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
  -->
</ul>
</div>
</div>
</nav>
